.gradient-bg{
    background: rgb(74,222,128);
    background: linear-gradient(90deg, rgba(74,222,128,1) 0%, rgba(22,163,74,1) 16%, rgba(5,145,66,1) 37%);
}

.active{
    
    background-color: #e5e7eb;
    border-right: 6px solid green ;
    // border-top-right-radius: 0px;
    // border-bottom-right-radius: 0px;
    border-radius: 0px;
    
    a{
        

        svg{
            
        }
    }
}