
<div class="mt-4">
    <div class="flex justify-between px-4">
        <h1 class="font-bold">NAME</h1>
        <h1 class="font-bold">GRADE</h1>
    </div>
    <div *ngFor="let class of classCriteria" >
        <div *ngIf="class.isPublish" class="flex justify-between bg-white border items-center border-gray-100 py-6 px-4 drop-shadow-2xl mt-2">
            <h1  class="font-semibold ">{{ class.criteriaName}}</h1>
            <h2 class="font-semibold">
                <ng-container *ngIf="class && class.scores">
                    {{ getScoreForStudent(class.scores, student._id) }}
                </ng-container>
            </h2>
        </div>
    </div>
</div>
