<div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
    <div class="flex flex-col lg:flex-row">
        <div class="flex-1 flex flex-col px-2">
            <div class="flex py-16 px-8 bg-[#059142] rounded-lg justify-between">
                <div class="flex flex-col">
                    <h1 class="text-4xl text-white">Dashboard</h1>
                    <p class="uppercase font-bold text-5xl mt-2 text-white">welcome back!</p>
                    <p class="font-semibold text-2xl mt-1 text-white">Teacher Test1</p>
                    <div>
                        <button type="button" class="focus:outline-none text-black bg-[#FFF9C4] hover:bg-[#FFF6A8] focus:ring-4 focus:ring-yellow-300 font-bold rounded-md text-sm py-4 px-12 mt-8 dark:focus:ring-yellow-900">View Subjects</button>
                    </div>
                    
                </div>
                <div class=" 2xl:mr-16 flex justify-center items-center">
                    <img class="w-[200px]" src="../../../../assets/teacher.svg" alt="">
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex justify-between items-center mt-8">
                    <h1 class="font-semibold text-lg">Classes</h1>
                    <button type="button" class="btn mt-4 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-12  dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">View Class</button>
                </div>
                <div class="w-full bg-white shadow-xl py-8 px-4 mt-4 border border-gray-100">
                    <h1 class="font-semibold text-lg">Intro to ditigal Logic</h1>
                </div>
                <div class="w-full bg-white shadow-xl py-8 px-4 mt-4 border border-gray-100">
                    <h1 class="font-semibold text-lg">Physical Education</h1>
                </div>
                <div class="w-full bg-white shadow-xl py-8 px-4 mt-4 border border-gray-100">
                    <h1 class="font-semibold text-lg"></h1>
                </div>
                <div class="w-full bg-white shadow-xl py-8 px-4 mt-4 border border-gray-100">
                    <h1 class="font-semibold text-lg"></h1>
                </div>
            </div>
        </div>
        <div class="w-[400px] rounded-md border border-gray-300 shadow-xl">
            
        </div>
    </div>
</div>

