.dashboard__bg{
    background-image: url('../../../../assets/dashboardBG.svg');
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: content-box;
    
}