<!-- <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
    <div class="grid grid-cols-3 gap-4 mb-4">
       <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
          
       </div>
       <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
             <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
             </svg>
          </p>
       </div>
       <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
             <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
             </svg>
          </p>
       </div>
    </div>
    <div class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
       <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
             <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
          </svg>
       </p>
    </div>
    <div class="grid grid-cols-2 gap-4 mb-4">
       <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
             <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
             </svg>
          </p>
       </div>
       <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
             <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
             </svg>
          </p>
       </div>
       <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
             <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
             </svg>
          </p>
       </div>
       <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
             <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
             </svg>
          </p>
       </div>
    </div>
    <div class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
       <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
             <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
          </svg>
       </p>
    </div>
    <div class="grid grid-cols-2 gap-4">
       <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
             <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
             </svg>
          </p>
       </div>
       <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
             <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
             </svg>
          </p>
       </div>
       <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
             <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
             </svg>
          </p>
       </div>
       <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
             <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
             </svg>
          </p>
       </div>
    </div>
 </div> -->
 <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
   <div class="grid xl:grid-cols-2 gap-4 mb-4">
      <div class="flex flex-col items-center gap-4 justify-center  rounded  dark:bg-gray-800">
         <!-- Student Card -->
         <div class="grid grid-cols-2 gap-4">
            <app-cards cardImg="../../../../assets/student.svg" [cardName]="'Total Students'" [cardCount]="324" [cardYear]="'S.Y 2023-2024'"></app-cards>
            <app-cards cardImg="../../../../assets/student.svg" [cardName]="'Active Students'" [cardCount]="294" [cardYear]="'S.Y 2023-2024'"></app-cards>
         </div>
         <!-- Teacher Card -->
         <div class="grid grid-cols-2 gap-4">
            <app-cards cardImg="../../../../assets/teacher.svg" [cardName]="'Total Teachers'" [cardCount]="50" [cardYear]="'S.Y 2023-2024'"></app-cards>
            <app-cards cardImg="../../../../assets/teacher.svg" [cardName]="'Active Teachers'" [cardCount]="47" [cardYear]="'S.Y 2023-2024'"></app-cards>
         </div>
      </div>
      <div class="flex flex-col justify-center border border-[#059142] bg-white py-4 px-8  rounded  dark:bg-gray-800">
         <h1 class="font-bold text-2xl mb-8">Average Student Per Year</h1>
         <canvas baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [type]="'bar'">
      </canvas>
      </div>
   </div>

   <div class="flex flex-col p-4">
      <h1 class="text-2xl font-bold text-gray-700">Active Courses</h1>

      <div tabindex="0" class="collapse collapse-arrow bg-[#FFF59D] mt-8 border border-gray-200 drop-shadow-lg">
         <div class="collapse-title text-lg font-medium text-center">
           Information Technology
         </div>
         <div class="collapse-content"> 
           <p>Subjects Table Dummy</p>
         </div>
       </div>

       <div tabindex="0" class="collapse collapse-arrow bg-[#FFF59D] border-gray-200 drop-shadow-lg mt-8">
         <div class="collapse-title text-lg font-medium text-center">
           Information System
         </div>
         <div class="collapse-content"> 
           <p>Subjects Table Dummy</p>
         </div>
       </div>

       <div tabindex="0" class="collapse collapse-arrow bg-[#FFF59D] border-gray-200 drop-shadow-lg mt-8">
         <div class="collapse-title text-lg font-medium text-center">
           Computer Science
         </div>
         <div class="collapse-content"> 
           <p>Subjects Table Dummy</p>
         </div>
       </div>

       <div tabindex="0" class="collapse collapse-arrow bg-[#FFF59D] border-gray-200 drop-shadow-lg mt-8">
         <div class="collapse-title text-lg font-medium text-center">
           Engineering
         </div>
         <div class="collapse-content"> 
           <p>Subjects Table Dummy</p>
         </div>
       </div>
   </div>

 </div>


