<dialog *ngIf="role === 'Subject'" id="my_modal_3" class="modal">
    <div class="modal-box">
        <form method="dialog">
        <button (click)="onClose()" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 *ngIf="!isEdit" class="font-bold text-lg">Add {{role}}</h3>
        <h3 *ngIf="isEdit" class="font-bold text-lg">Edit {{role}}</h3>

        <form class="mt-4" (submit)="onSubmit()" #f="ngForm">
            <div class="relative">
                <input  required [(ngModel)]="subjectCode" type="text" id="subjectCode" name="subjectCode" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                <label for="subjectCode" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Subject Code</label>
            </div>
            <div class="relative mt-4">
                <input  required [(ngModel)]="subjectDescription" type="text" id="subjectDescription" name="subjectDescription" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                <label for="subjectDescription" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Subject Description</label>
            </div>
            <!-- <div class="relative mt-4">
                <input  required [(ngModel)]="strand" type="text" id="strand" name="strand" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                <label for="strand" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Strand</label>
            </div> -->
            
        <label for="strand" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a strand</label>
        <select name="strand" required [(ngModel)]="strand" id="strand" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option value="stem">STEM</option>
        <option value="humss">HUMSS</option>
        <option value="abm">ABM</option>
        <option value="ict">ICT</option>
        </select>

            <p *ngIf="subjectCode !== ''" class="mt-4 text-sm"><span class="font-semibold">Subject:</span> {{subjectCode | uppercase}} {{subjectDescription | titlecase}} ({{ currentYear}} - {{nextYear}}) <span class="font-bold">{{strand | uppercase}}</span></p>
            <div class="flex justify-end items-center mt-16 ">
                <button *ngIf="!isEdit" type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Add {{ role }}</button>
                <button *ngIf="isEdit" type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Edit {{ role }}</button>
                <form method="dialog">
                    <button *ngIf="!isEdit" (click)="onClose()" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Close</button>
                    <button *ngIf="isEdit" (click)="onDelete()" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Delete {{ role }}</button>
                </form>
            </div>
           
        </form>
    </div>
</dialog>