<div class="flex flex-col border bg-[#FFFDE7] border-[#059142] rounded-2xl h-[250px]  px-8 py-6 drop-shadow-md">
    <div class="flex items-end gap-3 mt-8">
        <img class="" [src]="cardImg" alt="card img">
        <h1 class="text-2xl font-bold">{{cardCount}}</h1>
    </div>
    <div>
        <h1 class="text-2xl font-bold">{{cardName}}</h1>
    </div>
    <div class="flex gap-4 items-center justify-between mt-2">
        <h1 class="text-xs md:text-base">{{cardYear}}</h1>
        <button (click)="onNavigate()" class="btn btn-sm   text-white bg-[#06A94D] hover:bg-green-500 md:px-10">View</button>
    </div>
</div>
